#charts_page_div{
    display: flex;
    margin: 10px;
    margin-bottom: 500px;
}

.table-2
{
  overflow: scroll;
}
@media screen and (max-width: 900px){
    #charts_page_div{
        display: grid;
        margin: 10px;
    }
  }
  .leaflet-container{
    height: 500px;
    width: 100%;
  }